<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout_employers">
<head>
<title>Mindful Consulting Qatar - Job Seeker</title>
<meta name="keywords" content="Job vacancies in Qatar , jobs in qatar , jobs in qatar airways , jobs near me , Best job portal in Qatar , Opportunities in Qatar, Jobs near me,  administration jobs, therapist jobs,
Qatar Jobs, Top 5 Job Portals in Qatar, IT jobs in Qatar, Government jobs in Qatar, Developer jobs in Qatar, Designer Jobs in Qatar,jobs & vacancies in Qatar government and High pay developer jobs in Qatar." />

<link rel="stylesheet"
	th:href="@{'/assets/css/plugin_other.css'}" />
</head>
<body id="design3" class="cv-search">
	<div layout:fragment="content">
	<section class="p20y t-center" style="background: linear-gradient(124.25deg, #68DA7C 0%, #60C9F8 100%);">
        <div class="box">
            <h1 class="t-inverse search-heading">Mindful.com CV Search</h1>
            <p class="t-inverse t-large find-candidate">Find the perfect candidate.</p>
            <form class="t-left" action="" method="" target="_self">
                
      <input type="hidden" name="position_operator" value="3">
       <div class="input-pack">     
       	<input id="cvSearch_position_keyword" name="position_keyword" type="text" class="input in-pack is-large" placeholder="Enter job title, skills, etc." >
      	<div class="select in-pack">
        	<select name="rescountry"  class="input is-large" id="cvSearchIso"  data-searchable>
        			<option value="" disabled="disabled" selected="selected">Select Country</option>
         			<option value="">- All -</option>
					<option value="dz,0,0">Algeria</option>
					<option value="bh,0,0">Bahrain</option>
					<option value="ae,4,0">Dubai</option>
					<option value="eg,0,0">Egypt</option>
					<option value="in,0,0">India</option>
					<option value="ir,0,0">Iran</option>
					<option value="iq,0,0">Iraq</option>
					<option value="jo,0,0">Jordan</option>
					<option value="kw,0,0">Kuwait</option>
					<option value="lb,0,0">Lebanon</option>
					<option value="ly,0,0">Libya</option>
					<option value="ma,0,0">Morocco</option>
					<option value="om,0,0">Oman</option>
					<option value="pk,0,0">Pakistan</option>
					<option value="qa,0,0">Qatar</option>
					<option value="sa,0,0">Saudi Arabia</option>
					<option value="lk,0,0">Sri Lanka</option>
					<option value="tn,0,0">Tunisia</option>
					<option value="ae,0,0">United Arab Emirates</option>
					<option value="ye,0,0">Yemen</option>
                 </select>
            </div>
            <button type="submit" class="btn in-pack is-large add-to-cart" >Search CVs <i class="icon is-arrow-right p10x"></i></button>
            </div>
            <span id="cvSearch_position_keyword_em_" class="form-hint"></span>
        </form>
          <p class="t-inverse p20t find-candidate"><b>Try it for free. No credit card required.</b></p>
        </div>
        </section>
        <div class="box bg-inverse m20y p20">
	        <div class="media">
		        <img th:src="@{'/assets/image/plan.png'}" class="m10y" alt="plan">
			    <div class="row is-compact">
                    <div class="col is-9-d">
                        <h3 class="search-heading">Mindful Small Business Plan  </h3>
                        <span class="t-xlarge t-mute">Contact 20 Candidates Total</span>
                        <ul class="list is-basic t-small is-inline t-mute">
                            <li> • Get Unlimited CV Views</li>
                            <li>• Post up to 3 jobs</li>
                            <li> • Search for CVs</li>
                        </ul>
                        <div class="t-small m20y t-mute">
                            <b>*This package is auto-renewed every month (your credit card will be charged). Don't worry, you can cancel any time! To Search for CVs, at least 1 job vacancy must be activated.</b>
                        </div>
                    </div>
                    <div class="col is-3-d t-right-d p20r">
                        <span class="t-success h4">$245.00/month</span>
                        <b class="t-mute u-block">Limited Time Offer</b>
                        <a th:href="@{'#'}" id="Proceed_to_Checkout" class="btn is-secondary is-round is-outline m10y "><b>Buy Now</b></a>
					</div>
		        </div>
	        </div>
        </div>
        <section class="t-center p20">
		        <h2 class="p20y search-heading">Select Your Plan</h2>
		        <div>
		        <div class="input-group_inline">
			</div>
			<div class="is-active tab" data-tab="internationalPackge">
			    <div class="box">
					<div class="row v-align-center">
						<div class="col is-4-d is-12-m">
							<div class="card" id="5117">
								<div class="card-head ">
									<h3 class="search-heading">2-Week CV Search</h3>
								</div>
								<div class="card-content">
									<del class="t-mute p20 t-light h4 u-block">$750</del>
									<p class="h2 t-light">$675</p>
									<form method="" action="" class="m20y">
										<input type="hidden"  value="" />
										<input type="hidden" value="" />
										<input type="hidden" value="" />
										<input type="hidden" name="package_to_purchase" >
										<button type="submit" class="btn is-secondary is-round is-outline buy-now-btn">Buy Now</button>
									</form>
									<hr class="d ">
									<ul class="list is-basic t-small">
										<li><span>•</span> Use over 30 filters including nationality, location, and experience</li>
										<li><span>•</span> 13,000 fresh CVs every day</li>
									</ul>
									<div class="t-small">
										<u>Access Cv search for 2 weeks</u>
									</div>																						</div>
								</div>
							</div>
							<div class="col is-4-d is-12-m">
								<div class="card" id="6211">
									<div class="card-head ">
										<div class="t-center">
											<b class="t-small t-primary">Best Value</b><br>
											<p class="m0">( Save $299 )</p>
										</div>
										<h3 class="search-heading">One Month CV Search <b class='t-xlarge t-primary'>+</b> Two Job Postings</h3>
									</div>
									<div class="card-content">
										<del class="t-mute p20 t-light h4 u-block">$1,298</del>
										<p class="h2 t-light">$999.9</p>
										<form method="" action="" class="m20y">
											<input type="hidden" value="" />
											<input type="hidden" value="" />
											<button type="submit" class="btn is-round add-to-cart">Buy Now</button>
										</form>
										<hr class="d ">
										<ul class="list is-basic t-small">
											<li><span>•</span> Post 2 job advertisements for 60 days with advanced functionalities </li>
											<li><span>•</span> One Month access to our CV database and contact up to 500 candidates</li>
										</ul>
										<div class="t-small">
											<u>Access Cv search for 1 month</u><br>
											<u>Post Jobs for 2 months</u>
										</div>
									</div>
								</div>
							</div>
							<div class="col is-4-d is-12-m">
								<div class="card" id="3988">
									<div class="card-head ">
									<h3 class="search-heading">1-Month CV Search</h3>
									</div>
									<div class="card-content">
										<del class="t-mute p20 t-light h4 u-block">$1,000</del>
										<p class="h2 t-light">$900</p>
										<form method="" action="" class="m20y">
											<input type="hidden" value="" />
											<input type="hidden" value="" />
											<input type="hidden" value="" />
											<input type="hidden"  value="" />
											<button type="submit" name="" class="btn is-secondary is-round is-outline buy-now-btn">Buy Now</button>
										</form>
										<hr class="d">
										<ul class="list is-basic t-small">
											<li><span>•</span> Use over 30 filters including nationality, location, and experience</li>
											<li><span>•</span> 13,000 fresh CVs every day</li>
										</ul>
										<div class="t-small">
											<u>Access Cv search for 1 month</u>
                                        </div>
                                    </div>
								</div>
							</div>
							</div>
                            <div class="p20t">
                                <a class="btn is-outline is-round save-more" th:href="@{'#'}"> Save More With Longer Plans </a>
                            </div>
						</div>
		            </div>
                    <p class="t-center t-small find-candidate">
                        By clicking Buy Now, you agree to the  <a th:href="@{'#'}" class="is-black" ><b>Service Agreement.</b></a><br>We do not charge any additional commission fees when you hire through Mindful.com	</p>
                </div>
            </section>
            <section class="p20 bg-mute t-center" >
			    <h2 class="p20y search-heading">Why Use CV Search?</h2>
			    <p class="t-large p10b find-candidate">Find the perfect candidate quickly, easily, and cost-effectively</p>
		        <div class="box t-left p10t">
			        <div class="row  h-align-around">
			            <div class="col is-6-d is-12-m"> 
			        		<i class="t-primary icon is-cv is-48"></i>
					  		<h5 class="p10t search-heading">1. Relevant, top-quality CVs</h5>
					  		<p class="p10 find-candidate">Instantly access over 29,000,000 qualified CVs, and use 30+ filters including criteria specific to the Middle East, including visa status, nationality, and country of educational degree.</p>
		             	</div>
		            	<div class="col is-6-d is-12-m">
			            	<i class="t-primary icon is-target is-48"></i>
							<h5 class="p10t search-heading">2. Effective targeting at a lower cost</h5>
					  		<p>Find and hire professionals who are based in your location using an effective, localized CV Search service at a lower cost.</p>
						</div>
			            <div class="col is-6-d is-12-m">
			            	<i class="t-primary icon is-team-hierarchy is-48"></i>
					  		<h5 class="p10t search-heading">3. Manage your hiring pipeline</h5>
					  		<p class="find-candidate">Manage your hiring pipeline by tracking, tagging, shortlisting candidates, and more, depending on where you are in the process.</p>
		                </div>
		                <div class="col is-6-d is-12-m">			                	
                            <i class="t-primary icon is-ban is-48"></i>
                            <h5 class="p10t search-heading">4. No commissions</h5>
							<p class="find-candidate">Find and contact candidates on the spot. No fees or commissions required when using CV Search.</p>
			             </div>
			        </div>
		        </div>
            </section>
            <section id="whoHiring" class="bg-inverse t-center p20">
                <h2 class=" p20y search-heading">Who's Hiring on Mindful.com</h2>
                <div class="card border-0">
                    <div class="box">
                        <div class="card-banner">
                            <img th:src="@{'assets/image/xx_who_is_hiring.png'}" alt="Who's Hiring on Mindful.com" class="u-stretch" usemap="#map" data-remap>
                            <map name="map">
                                <area shape="rect" alt="../../assets/image/xx_who_is_hiring.png" coords="0,0,200,200" th:href="@{'#'}">
                                <area shape="rect" alt="../../assets/image/xx_who_is_hiring.png" coords="200,0,400,200" th:href="@{'#'}">
                                <area shape="rect" alt="../../assets/image/xx_who_is_hiring.png" coords="400,0,600,200" th:href="@{'#'}">
                                <area shape="rect" alt="../../assets/image/xx_who_is_hiring.png" coords="600,0,800,200" th:href="@{'#'}" >
                                <area shape="rect" alt="../../assets/image/xx_who_is_hiring.png" coords="800,0,1000,200" th:href="@{'#'}" >
                                <area shape="rect" alt="../../assets/image/xx_who_is_hiring.png" coords="0,200,200,400" th:href="@{'#'}" >
                                <area shape="rect" alt="../../assets/image/xx_who_is_hiring.png" coords="200,200,400,400" th:href="@{'#'}" >
                                <area shape="rect" alt="../../assets/image/xx_who_is_hiring.png" coords="400,200,600,400" th:href="@{'#'}" >
                                <area shape="rect" alt="../../assets/image/xx_who_is_hiring.png" coords="600,200,800,400" th:href="@{'#'}" >                                    <area shape="rect" alt="../../assets/image/xx_who_is_hiring.png" coords="800,200,1000,400"  href="#" >
                            </map>
                        </div>
                    </div>
				</div>
		    </section>
            <section class="p20 t-center ">
                <h2 class="p20y search-heading">How Does CV Search Work?</h2>
                <div class="box">
                    <div class="row  h-align-around">
                        <div class="col is-4-d is-12-m">
                            <i class="t-primary icon is-cv is-48"></i>
                            <p class="p5y find-candidate"></p>
                            <p class="t-xlarge p10t find-candidate">1. Subscribe to CV Search for instant access</p>
                        </div>
                        <div class="col is-4-d is-12-m">
                            <i class="t-primary icon is-bar-chart-search is-48"></i>
                            <p class="p5y find-candidate"></p>
                            <p class="t-xlarge p10t find-candidate">2. Find candidates from our searchable CV database			
                        </div>
                    </div>
                    <div class="row h-align-around p10y-d">
                        <div class=" col is-4-d is-12-m">
                            <i class="t-primary icon is-call-out is-48"></i>
                            <p class="t-xlarge p10t find-candidate">3. Contact the candidates you like</p>
                        </div>
                        <div class="col is-4-d is-12-m">
                            <i class="t-primary icon is-handshake is-48"></i>
                            <p class="t-xlarge p10t find-candidate">4. Hire and start growing your team</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="t-center p20 bg-inverse">
                <h2 class="p20y search-heading">Customer Success Stories</h2>
                <p class="find-candidate">Over 40,000 companies use Mindful.com to hire qualified candidates</p>
                <div class="row is-m h-align-center p20b">
                    <div class="col is-6-d embed is-16by9">
                        <iframe class="embedded u-strech"  th:src="@{'https://www.youtube.com/embed/H-Ccy0E1dS4'}" allowfullscreen=""></iframe>
                    </div>
                </div>
            </section>
            <section class="t-center">               
                <div class="row v-align-center bg-offer">
					<div class="col is-6-d is-12-m p20" >
						<div class="h-align-center v-align-center">
							<b class="h1 t-inverse search-heading">
								23%
							<br>OFF	</b>
						</div>
					</div>
					<div class="col is-6 is-12-m p20 bg-mute t-left">
						<form action="" method="post">
							<input type="hidden" name="action_case" value="11"/>
							<input type="hidden" name="featured_offer_package" value="6211"/>
							<input type="hidden" name="native_source" value="CVoffer"/>
							
						    <h2 class="p20t search-heading" style="font-size: 40px;">Save $298.1 with Today’s Special Offer!</h2>
							<p class="t-large p20t find-candidate"><i class="icon is-research is-20 t-mute "></i>One Month CV Search</p>
							<p class="t-large find-candidate"><i class="is-star icon is-20 t-mute"></i>Two Job Postings</p>
							<b class="u-block m20y search-heading">
								<del class="h2 t-mute t-light p10">$1,298</del>
								<span class="h2 p10">$999.90</span>
							</b>
							<button class="btn add-to-cart" type="submit">Buy Now</button>
						</form>
					</div>
				</div>
			</section>
            <section class="t-center bg-inverse p20">
                <h2 class="search-heading">Need Help?</h2>
                <p class="t-xlarge find-candidate">Contact us and we will be happy to assist you</p>
                <ul class="list is-basic is-spaced">
                    <li><a th:href="@{'tel:+96265507445'}" class="h2">Call Us: &lrm; +962-6-550-7445</a></li>
                    <li><a class="btn m10y add-to-cart" th:href="@{'#'}">Email Us</a></li>
                    <li>
                        <img th:src="@{'/assets/image/need-help-img.png'}" alt="Need help" class="img-120-m img-240-d">
                    </li>
                </ul>
            </section>
            </div>
            <script th:src="@{'/assets/js/employer_plugin.js'}"></script>
</body>

</html>