<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<link rel="stylesheet"
	th:href="@{'/assets/css/inner_pages_css/employer.css'}" />
<link rel="stylesheet"
	th:href="@{'/assets/css/plugin_other.css'}" />
<title>Mindful Consulting Qatar - salaries by role</title>
<meta name="keywords" content="Job vacancies in Qatar , jobs in qatar , jobs in qatar airways , jobs near me , Best job portal in Qatar , Opportunities in Qatar, Jobs near me,  administration jobs, therapist jobs,
Qatar Jobs, Top 5 Job Portals in Qatar, IT jobs in Qatar, Government jobs in Qatar, Developer jobs in Qatar, Designer Jobs in Qatar,jobs & vacancies in Qatar government and High pay developer jobs in Qatar." />

</head>
<body class="sec-roles">
<div layout:fragment="content">
    <div class="box is-large">
        <div class="row is-m v-align-top box">
            <div class="col is-8 is-12-m">
                <div class="card p40y-d">
                    <div class="card-head">
                        <h1 class="h3 p10y">Web Developer Salaries in India</h1>
                    </div>
                    <div class="card-content">
                        <div class="row">

                            <div class="col is-6 is-12-m">
                                <span class="t-xsmall t-mute">* Posted anonymously by employees</span>
                            </div>

                        </div>
                        <div class="row">
                            <table class="range-chart m20y">
                                <thead>
                                    <tr>
                                        <th> Job Title </th>
                                        <th> Average </th>
                                        <th class="d">

                                            <span style="left:0%;">0</span>
                                            <span style="left:20%;">10000</span>
                                            <span style="left:40%;">20000</span>
                                            <span style="left:60%;">30000</span>
                                            <span style="left:80%;">40000</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Web Developer </td>
                                        <td> INR 28,099 </td>
                                        <td class="d">
                                            <span style="left: 20%;width: 79%;"></span>
                                            <span style="left:56%;">
						<span class="tip on-top" aria-label="Average: 28098 INR"></span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <script type="application/ld+json">
                                {"@context":"http:\/\/schema.org\/","@type":"Occupation","name":"Web Developer","mainEntityOfPage":{"@type":"WebPage","lastReviewed":"2018-07-09T00:00:00+00:00"},"estimatedSalary":[{"@type":"MonetaryAmountDistribution","name":"base","currency":"INR","unitText":"MONTH","minValue":"10000","maxValue":"50000","median":"28099"}],"occupationLocation":[{"@type":"Country","name":"India"}]} </script>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col is-4-d">
                <div class="card">
                    <div class="card-head">
                        <h6>Salaries by Location</h6>
                        <hr>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <ul class="list t-small is-basic u-expanded">
                                <li>
                                    <span class="u-right m10x-d">(133558)</span>
                                    <a href=""> Salaries in UAE </a>
                                </li>
                                <li>
                                    <span class="u-right m10x-d">(113932)</span>
                                    <a href=""> Salaries in Saudi Arabia </a>
                                </li>
                                <li>
                                    <span class="u-right m10x-d">(93692)</span>
                                    <a href=""> Salaries in India </a>
                                </li>
                                <li>
                                    <span class="u-right m10x-d">(50552)</span>
                                    <a href=""> Salaries in Kuwait </a>
                                </li>
                                <li>
                                    <span class="u-right m10x-d">(41207)</span>
                                    <a href=""> Salaries in Pakistan </a>
                                </li>
                                <li>
                                    <span class="u-right m10x-d">(30342)</span>
                                    <a href="">Salaries in Qatar (30342)</a>
                                <li>
                                    <span class="u-right m10x-d">(29003)</span>
                                    <a href=""> Salaries in Egypt </a>
                                </li>
                                <li>
                                    <span class="u-right m10x-d">(12823)</span>
                                    <a href=""> Salaries in Jordan </a>
                                </li>
                                <li>
                                    <span class="u-right m10x-d">(10127)</span>
                                    <a href=""> Salaries in Oman </a>
                                </li>
                                <li>
                                    <span class="u-right m10x-d">(5745)</span>
                                    <a href=""> Salaries in Bahrain </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div>
            <div class="row box">
                <div class="col is-12-d">
                    <div class=" bg-inverse  p10">
                        <ul class="list is-inline is-spaced t-center-d">
                            <li class="t-primary br-d p20x "><a href="">Salaries by Location</a></li>
                            <li class="t-primary br-d p20x "><a href="">Salaries by Company</a></li>
                            <li class="t-primary br-d p20x "><a href="">Salaries by Job Role</a></li>
                            <li class="t-primary br-d p20x "><a href="">Faqs</a></li>
                            <li class="t-primary br-d p20x "><a href="">Links</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>