<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<link rel="stylesheet"
	th:href="@{'/assets/css/inner_pages_css/salaries_by_location.css'}" />
		
    <link type="text/css" rel="stylesheet" href="https://csscf.b8cdn.com/css/main-a-bayt-155-s.css" media="all" />
    <link type="text/css" rel="stylesheet" href="https://csscf.b8cdn.com/css/salaries-bayt-010.css" media="all" />
<title>Mindful Consulting Qatar - Advanced search</title>
<meta name="keywords" content="Job vacancies in Qatar , jobs in qatar , jobs in qatar airways , jobs near me , Best job portal in Qatar , Opportunities in Qatar, Jobs near me,  administration jobs, therapist jobs,
Qatar Jobs, Top 5 Job Portals in Qatar, IT jobs in Qatar, Government jobs in Qatar, Developer jobs in Qatar, Designer Jobs in Qatar,jobs & vacancies in Qatar government and High pay developer jobs in Qatar." />

</head>
<body dir="ltr" id="en" class="sec-salaries salaries-country-jobtitle-details   new-header " onload="">
	<div layout:fragment="content">
    <div id="fb-root"></div>

    <div id="frame" class="revamp">


        <div id="content-frame-wrapper">

            <div id="content-frame">

                <div id="content">

                    <a name="jump"></a>

                    <p id="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
							<a href=""  itemprop="item">
								<span itemprop="name">Home</span>
                        </a>
                        <meta itemprop="position" content="1" />
                        </span>
                        /
                        <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
							<a href=""  itemprop="item">
								<span itemprop="name">Salaries by Location</span>
                        </a>
                        <meta itemprop="position" content="2" />
                        </span>
                        / UAE</p>
                    <h1>
				 Salaries in UAE
			</h1>
                    <div class="matching-search-box clear">
                        <h3 style="padding:8px;">Average Monthly Salary matching your search criteria</h3>
                        <table class="rp-chart" style="margin-bottom:0px; ">
                            <tr class="rp-header">
                                <td class="rp-210">
                                    <!--span class="title-space">Job Title</span-->
                                </td>
                                <td class="rp-210 rp-g" style="color:#000;text-align: center;font-size:0.9em;">Monthly Avg.</td>

                                <td class="rp-110" style=" vertical-align: bottom;">0</td>

                                <td class="rp-110" style=" vertical-align: bottom;">10,000</td>

                                <td class="rp-110" style=" vertical-align: bottom;">20,000</td>

                                <td class="rp-110" style=" vertical-align: bottom;">30,000</td>

                                <td class="rp-110" style=" vertical-align: bottom;">40,000</td>

                                <td class="rp-110" style=" vertical-align: bottom;">50,000</td>

                            </tr>
                            <tr class="rp-row">
                                <td class="rp-210 total-avg-title">
                                    <span class="title-space">Average Monthly Salary  in UAE</span>
                                    <br /> &nbsp;
                                </td>
                                <td class="rp-210 rp-g" style="text-align:center">AED 12,975</td>
                                <td class="rp-110 rp-g">

                                    <div class="rp-range-value" style="left:284.299998834px;margin-top:15px;">
                                        4,200
                                    </div>
                                    <div class="rp-g-value" style="left:294.299998834px;width:148.200001166px;">
                                        <div class="rp-avg-pointer" style="width:3px;left:57.039193864px;"></div>
                                    </div>
                                    <div class="rp-range-value" style="left:432.5px;margin-top:15px;">
                                        27,000
                                    </div>

                                </td>
                                <td class="rp-110 rp-g">&nbsp;</td>
                                <td class="rp-110 rp-g">&nbsp;</td>
                                <td class="rp-110 rp-g">&nbsp;</td>
                                <td class="rp-110 rp-g">&nbsp;</td>
                                <td class="rp-110 rp-g">&nbsp;</td>
                            </tr>
                        </table>

                        <div class="note clear" style="padding:8px;">
                            In United Arab Emirates Dirham (AED) as of Nov 2019
                        </div>

                        <div style="padding:5px">
                            <span style="width: 20px;position:relative;display:inline-block;vertical-align:middle;" class="rp-g-value"></span> = Salary Range represents 10th and 90th percentile &nbsp;
                            <span style="width: 3px;position:relative;display:inline-block;vertical-align:middle;" class="rp-avg-pointer"></span> = Average Salary
                        </div>
                    </div>

                </div>

                <hr />

                <div id="sidebar">

                    <div class="blockmod">
                        <h2 class="blockmod-title">
		    <span>
		        <span>
		            Salaries by Location
		        </span>
		    </span>			    
		</h2>
                        <div class="blockmod-content">
                            <ul class="pt">

                                <li><a href="">Salaries in UAE (133558)</a></li>

                                <li><a href="">Salaries in Saudi Arabia (113933)</a></li>

                                <li><a href="">Salaries in India (93692)</a></li>

                                <li><a href="">Salaries in Kuwait (50552)</a></li>

                                <li><a href="">Salaries in Pakistan (41207)</a></li>

                                <li><a href="">Salaries in Qatar (30342)</a></li>

                                <li><a href="">Salaries in Egypt (29003)</a></li>

                                <li><a href="">Salaries in Jordan (12823)</a></li>

                                <li><a href="">Salaries in Oman (10127)</a></li>

                                <li><a href="">Salaries in Bahrain (5745)</a></li>

                            </ul>
                        </div>
                    </div>

                    <hr />
                </div>

            </div>
        </div>

        <div class="salaries_footer_links clear">
            <p class="salaries_home_footer_links c">
                <span><a href="" title="Salaries by Location">Salaries by Location</a></span>
                <span>|</span>
                <span><a href="" title="Salaries by Company">Salaries by Company</a></span>
                <span>|</span>
                <span><a href="" title="Salaries by Job Title">Salaries by Job Title</a></span>
                <span>|</span>
                <span><a href="" title="Faqs">Faqs</a></span>
                <span>|</span>
                <span><a href="" title="Links">Links</a></span>
            </p>
        </div>

        <br class="clear" />

    </div>
	</div>
</body>
</html>